html
{
  height: 100%;
  width: 100%;
  background-color: #C5C5C6;
}

.menu
{
  display: flex;
  flex-wrap: nowrap;
  justify-content: flex-end;
  text-align: center;
  line-height: 120px;
  margin-right: 20px;
  text-transform: uppercase;
}

h1
{
  font-size: 1.4em;
  color: white;
  line-height: 90px;
  margin-right: 170px;
}

#menu-debut
{
  background-color: #C5C5C6;
  flex-basis: 50%;
  height: 100px;
}

#menu-present
{
  background-color: #C5C5C6;
  flex-basis: 13%;
  height: 100px;

}

#menu-present a
{
  color: white;
  text-decoration: none;
}

#menu-compet
{
  background-color: #C5C5C6;
  flex-basis: 13%;
  height: 100px;
}

#menu-compet a
{
  color: white;
  text-decoration: none;
}

#menu-exp
{
  background-color: #C5C5C6;
  flex-basis: 13%;
  height: 100px;
}

#menu-exp a
{
  color: white;
  text-decoration: none;
}

#menu-contact
{
  background-color: #C5C5C6;
  flex-basis: 13%;
  height: 100px;
  text-align: left;
  text-indent: 10px;
}

#menu-contact a
{
  color: white;
  text-decoration: none;
}


.accueil
{
  display: flex;
  flex-wrap: wrap;
}

#accueil
{
  background-color: #E5EAEA;
  flex-basis: 100%;
  height: 480px;
}

.Present
{
display: flex;
flex-wrap: wrap;
justify-content: space-between;
}

#text-present
{
  background-color: #E5EAEA;
  flex-basis: 48%;
  height: 400px;
}

#img
{
  background-color: #E5EAEA;
  flex-basis: 48%;
  height: 400px;
}

.compet
  {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  #text-comp
  {
    background-color: #E5EAEA;
    flex-basis: 48%;
    height: 500px;
  }

  #barres
  {
    background-color: #E5EAEA;
    flex-basis: 48%;
    height: 500px;
  }

  .exp
  {
    display: flex;
    flex-wrap: wrap;
  }

  #text-exp
  {
    background-color: #E5EAEA;
    flex-basis: 100%;
    height: 400px;
  }

/* Partie contact */
  .contact
  {
    display: flex;
    flex-wrap: wrap;
  }

  #text-contact
  {

    background-color: grey;
    flex-basis: 100%;
    height: 290px;
  }

.address
{
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.phone
{
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.mail
{
  float: left;
  width: 30px;
  height: 30px;

}

#bouton-mail
{
  line-height: 35px;
  text-indent: 20px;
  text-decoration: none;
  color: black;
}
