html {
  height: 100%;
  width: 100%;
  background-color: #FFFFFF;
}

header .menu {
  display: flex;
  height: 600px;

}

.menu {
  flex-wrap: nowrap;
  justify-content: flex-end;
  text-align: center;
  line-height: 120px;
  text-transform: uppercase;background-image: url("degrade.jpg");
  background-repeat: no-repeat;
}

#menu-debut {
  flex-basis: 50%;
  height: 100px;

}

#menu-present {
  flex-basis: 13%;
  height: 100px;

}

#menu-present a {
  color: white;
  text-decoration: none;
}

#menu-compet {
  flex-basis: 13%;
  height: 100px;
}

#menu-compet a {
  color: white;
  text-decoration: none;
}

#menu-exp {
  flex-basis: 13%;
  height: 100px;
}

#menu-exp a {
  color: white;
  text-decoration: none;
}

#menu-contact {
  flex-basis: 13%;
  height: 100px;
  text-align: left;
  text-indent: 10px;
}

#menu-contact a {
  color: white;
  text-decoration: none;
}

.Present {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

#text-present {

  flex-basis: 50%;
  height: 400px;
}

#img {

  flex-basis: 40%;
  height: 400px;
}

#img img{

}

.compet {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  }

  #text-comp {
    background-color: #E5EAEA;
    flex-basis: 48%;
    height: 500px;
  }

  #barres {
    background-color: #E5EAEA;
    flex-basis: 48%;
    height: 500px;
  }

  .exp {
    display: flex;
    flex-wrap: wrap;
  }

  #text-exp {
    background-color: #E5EAEA;
    flex-basis: 100%;
    height: 400px;
  }

/* Partie contact */
  .contact {
    display: flex;
    flex-wrap: wrap;
  }

  #text-contact {

    background-color: grey;
    flex-basis: 100%;
    height: 290px;
  }

.address {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 3px;
}

.phone {
  float: left;
  width: 30px;
  height: 30px;
  margin-top: 10px;
}

.mail {
  float: left;
  width: 30px;
  height: 30px;

}

#bouton-mail {
  line-height: 35px;
  text-indent: 20px;
  text-decoration: none;
  color: black;
}
